<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/base.css"> -->
    <link rel="stylesheet" href="/static/css/base.css?{% now " U" %}" />
    {% block stylesheet %}

    {% endblock stylesheet %}
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/65/ca/72/65ca721920323f25b1804b230472bf35.jpg" type="image/x-icon">
    <title>{% block title %} {% endblock title %}|loveApp</title>

    <style>
        {
            % block style %
        }

            {
            % endblock style %
        }
    </style>

<script>
    let pass = prompt("Please Enter the Password?")
    if (pass == "sabina") {
        console.log("I am Sorry ,and I love you Neha");
    }
    else {
        window.location.href = "/getout";
    }
</script>

</head>

<body>
    <!-- <div class="container"> -->
    <div class="a item" id="navbar">
        <div class="love">
            <a href="/">Love</a>
        </div>
        <ul id="list">
            <li><a href="#">I love you</a></li>
            <li><a href="#">I love you</a></li>
            <li><a href="#">I love you</a></li>
            <li><a href="#">I love you</a></li>
            <li><a href="#">I love you</a></li>
        </ul>
        <div class="voice">
            <a href="/Contect_me">Contect_me</a>
        </div>
    </div>
    <div class="b item" id="explain"> {% block b %}{% endblock b %}</div>
    <div class="c item" id="weds">{% block c %}{% endblock c %}</div>
    <div class="d item" id="Images">{% block d %}{% endblock d %}</div>
    <div class="e item" id="footer">
        <div id="text3">
            Copyright © 2022 All rights reserved Admin Sabina
        </div>
    </div>

    
    
    {% block script %}
    
    {% endblock script %}
    <!-- </div> -->
</body>

</html>