<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/getout.css?{% now " U" %}" />
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap" rel="stylesheet">

    <title>Please_out|Sorry</title>
    <style>

    </style>
</head>

<body class="container">
    <!-- <div class="container"> -->
    <div id="navbar" class="item">
        <!-- <p>Aapne galat paasword daal diya hai ,spelling check kariye ya koi akshar bada chota ho skta h, ya bich me gap
            de diye honge...... </p> -->
        <p>You have entered wrong password, please Check the spelling or punctuation or spaces</p>
        <div id="btn">
            <a href="/">Retry</a>
        </div>

    </div>

    <div id="eng" class="item">
        <pre id="right ">
            Please Enter Right Password,
                    Otherwise Call me 
        </pre>
    </div>
    <div id="hin" class="item">
        <p>कृपया सही पासवर्ड दर्ज करें,या दोबारा कोसिस करे ऊपर Retry का बटन से,अन्यथा मुझे कॉल करें</p>
    </div>
    <div class="item" id="footer">
        <div id="text3">
            Copyright © 2021-2027 All rights reserved Admin - Annoynomous
        </div>
    </div>
    <!-- </div> -->
</body>

</html>